<h1>Reserva de Sala</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Horário</th>
          <% @days.each do |day| %>
            <th data-day="<%= day %>"><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= sync partial: 'table_body', resource: @reservation %>
      </tbody>
    </table>
  </div>
